.navigation-learn-more {
  background-image: url(../../static/london3.jpg);
  background-size: 80%;
  background-position: center;
  background-position-y: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  width: 100%;
  height: 20rem;
  margin-top: 2rem;
}

.nav-bottom-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.nav-bottom-buttons-text {
  color: #111;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 700px) {
  .navigation-learn-more {
    background-position-x: 0%;
    background-size: contain;
  }

  .navigation-learn-more {
    height: 14rem;
  }
  .nav-bottom-buttons-text {
    color: #000;
    font-size: 1rem;
  }
}
