.navigation-main-photo {
  background-image: url(../../static/london3.jpg);
  background-position: center;
  /* background-size: 100%; */
  /* background-position-y: 30%; */
  background-size: contain;
  width: 100vw;
  height: 30rem;
  background-repeat: no-repeat;
}

.nav-bottom-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.nav-bottom-buttons-text {
  color: #111;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .navigation-main-photo {
    background-size: contain;
    background-position-y: 30%;
    height: 12rem;
  }
}
