#navbar-menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: red;
  z-index: 100;
}

@media (max-width: 767px) {
  #navbar-menu-icon {
    width: 0.8rem;
    height: 0.8rem;
  }
}
