.nav-card {
  background-color: rgb(205, 133, 63, 0.2);
  color: peru;
  border: 2px solid peru;
  font-size: 0.7rem;
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 0 20px;
  transition: 150ms all ease;
  font-family: "Relway";
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 767px) {
  /* .nav-card {
    font-family: "Relway";
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    font-size: 0.7rem;
  } */
}
