.icons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 0.5rem;
  width: 100%;
  height: 11rem;
  overflow: hidden;
  transition: 1.5s ease;
  background-color: #333;
}

.hidden {
  opacity: 0;
  transition: 1s ease;
  flex-flow: nowrap;
  height: 0;
}

@media (max-width: 597px) {
  .icons-container {
    flex-flow: row wrap;
    height: 12rem;
  }

  .hidden {
    height: 0;
  }
}
@media (min-width: 597px) and (max-width: 767px) {
  .icons-container {
    flex-flow: row wrap;
    height: 7rem;
  }

  .hidden {
    height: 0;
  }
}
@media (min-width: 767px) and (max-width: 1055px) {
  .icons-container {
    flex-flow: row wrap;
    height: 24rem;
  }

  .hidden {
    height: 0;
  }
}
