#pricing-main-photo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.main-pricing-pic {
  height: 16rem;
}

.pricing-cards-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0 7rem 0;
}

@media (max-width: 767px) {
  .main-pricing-pic {
    height: 7rem;
  }

  .pricing-cards-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0 5rem 0;
  }
}

@media (min-width: 767px) and (max-width: 1050px) {
  .pricing-cards-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 767px) and (max-width: 970px) {
  .main-pricing-pic {
    height: 9rem;
  }
}

@media (min-width: 970px) and (max-width: 1200px) {
  .main-pricing-pic {
    height: 12rem;
  }
}
