.side-bar-container {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 12rem;
  height: 100vh;
  border-radius: 5px;
  background-color: white;
  transition: 0.5s ease-in;
  padding: 1rem 0 0 1rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #eee;
  transform: translateX(0rem);
}

.side-bar-hidden {
  transform: translateX(15rem);
}

.nav-logo {
  width: 5rem;
  margin-bottom: 1rem;
}

.side-bar-item {
  color: #222;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-family: "Raleway";
  font-weight: 100;
  font-style: italic;
  /* border: 1px solid grey;
  padding: 0.5rem;
  border-radius: 5px; */
}

.nav-item {
  font-size: 2rem;
}
