.AboutMeContainer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#aboutMeMainPhoto {
  background-position-y: 30%;
  background-size: contain;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  color: black;
  font-size: 28px;
  font-family: Indie Flower, cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPic {
  width: 30rem;
  max-height: 20rem;
}

.firstRowDiv {
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  border: 1px solid red;
}

.firstPicture {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}

#pictureOne {
  max-width: 30rem;
  max-height: 30rem;
}

.textDiv {
  height: 100%;
  width: 65%;
  color: cornsilk;
  box-sizing: border-box;
  font-size: 20px;
  text-align: justify;
  text-indent: 30px;
  padding: 30px;
  margin-left: 80px;
  /* box-shadow: 5px 5px 5px oldlace; */
  border-radius: 100px;
  overflow: hidden;
}

.secondRowDiv {
  display: flex;
  flex-flow: row-reverse;
  width: 100%;
  height: 35%;
}
