* {
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
}

#mainTopRightForms {
  position: absolute;
  top: 150px;
  right: 50px;
}

.upperBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  animation: upperBar-load 500ms ease-in;
}

.navUpButtons {
  animation: bounceIn 1s ease-in;
}

#logo {
  margin: 5px auto 0px 15px;
  width: 7rem;
  height: 6rem;
  border-radius: 30px;
  opacity: 0.9;
}

.iconsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 15px 20px 10px 20px;
  width: 100%;
}

.navCard {
  background-position: center;
  background-size: contain;
  background-position-y: 90%;

  color: white;
  font: bold 1.8rem Indie Flower, cursive;
  width: 10rem;
  height: 10rem;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px 10px;
  opacity: 0.7;
  transition: 150ms all ease;
}

.navCard:hover {
  opacity: 1;
  font-size: 2.2rem;
}

.navigationMainHeader {
  background-image: url(../../static/new1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 22rem;
  color: cornsilk;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font: 50px Indie Flower, cursive;
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 4rem;
}

#headersCont {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#header1Line {
  width: 60%;
  text-align: start;
  animation: header-1 2s ease-in 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#header2Line {
  width: 60%;
  text-align: center;
  animation: header-2 2s ease-in 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#header3Line {
  width: 50%;
  text-align: end;
  animation: header-3 2s ease-in 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#flagCont {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.descriptionRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 4rem;
}

.descriptionText {
  display: flex;
  width: 65%;
  color: cornsilk;
  font: italic 22px/2rem Roboto, cursive;
  text-align: start;
  box-sizing: border-box;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* border: 1px solid red; */
}

#secondText {
  text-align: start;
}

.pictureContainer {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.bookMePic {
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  width: 20rem;
  height: 20rem;
}

.navigationBottomButtons {
  background-image: url(../../static/london3.jpg);
  background-size: 80%;
  background-position: center;
  background-position-y: 30%;
  opacity: 0.85;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  width: 100%;
  min-height: 500px;
  margin-top: 2rem;
}

#welcomeMsg {
  width: 15%;
  height: 3.5rem;
  color: cornsilk;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Marcellus SC;
}

@keyframes upperBar-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes navCards-slide {
  0% {
    transform: translateX(-1000%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes header-1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes header-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes header-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#text {
  animation: bounceIn 1s;
}

.loginContainer,
.registerContainer {
  animation: bounceIn 0.5s;
}

@media (max-width: 700px) {
  .iconsContainer {
    display: flex;
    flex-flow: row wrap;
  }
  .navCard {
    background-image: none;
    background-color: black;
    width: 5rem;
    height: 5rem;
    font-size: 20px;
  }

  .navigationMainHeader {
    background-size: cover;
    background-position: center;
    width: 100%;
    color: cornsilk;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-size: 40px;
    font-family: Indie Flower, cursive;
    box-sizing: border-box;
    margin-top: 20px;
  }
  #description1Row {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    border: 1px solid red;
  }
  #descriptionText1 {
    width: 100%;
    color: cornsilk;
    font-size: 10px;
    text-align: justify;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    border-radius: 40px;
  }
  #bookPicture {
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-left: 20px;
  }

  #mePicture {
    width: 33%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
  }
}
