#days-div {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

@media (min-width: 1800px) {
  #days-div {
    padding: 3rem 3rem;
  }
}
