.day-card-back {
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.reserve-text {
  backface-visibility: hidden;
}

.sobota {
  background-color: var(--sobota);
}

.niedziela {
  background-color: var(--niedziela);
}

@media (max-width: 767px) {
  .reserve-text {
    font-size: 0.6rem;
  }
}
