.day-card-back {
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: rotateY(180deg);
}

.reserve-text {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  /* transform: perspective(1px) translateZ(0); */
}

.sobota {
  background-color: var(--sobota);
}

.niedziela {
  background-color: var(--niedziela);
}

.test {
  width: 100%;
  height: 100%;
  background-color: cornflowerblue;
}

@media (max-width: 767px) {
  .reserve-text {
    font-size: 0.6rem;
  }
}
