.yes-no-buttons {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .yes-no-buttons {
    align-items: center;
    margin-bottom: 0rem;
  }
}
