#contact-photo {
  width: 100%;
  background-position-y: 40%;
  height: 26rem;
  background-position-y: center;
  background-size: cover;
  background-image: url(../static/Blog/blog8.jpg);
}

.contact-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #222;
  font-weight: bold;
  padding: 4rem 0rem 4rem 0rem;
}

.contact-text-container {
  display: flex;
  align-items: center;
  width: 40%;
  flex-flow: column nowrap;
  box-shadow: 0 0 30px 15px #eee;
}

.contact-info {
  padding: 1rem 0rem;
  font-size: 1.5rem;
  font-style: italic;
}

@media (max-width: 767px) {
  #contact-photo {
    height: 12rem;
  }

  .contact-text-container {
    width: 100%;
  }

  .contact-info {
    padding: 0.7rem 0rem;
    font-size: 1rem;
  }
}

@media (min-width: 1800px) {
  #contact-photo {
    height: 30rem;
    background-position-y: center;
  }

  .contact-info {
    padding: 0.7rem 0rem;
  }
}
