#footer-container-desktop {
  display: sticky;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  padding: 1rem 0rem;
  background-color: #333;
}

.footer-icon {
  color: white;
  position: relative;
}

.footer-icon::before,
.footer-icon::after {
  --scale: 0;
  --arrow-size: 20px;
  --tooltip-color: #555;

  position: absolute;
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 200ms transform;
  transform-origin: bottom center;
}

.footer-icon::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  padding: 0.5rem;
  width: max-content;
  border-radius: 0.3rem;
  background-color: var(--tooltip-color);
  text-align: center;
}

.footer-icon:hover::before,
.footer-icon:hover::after {
  --scale: 1;
}

.footer-icon::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

#footer-container-phone {
  display: none;
}

@media (max-width: 700px) {
  #footer-container-phone {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    padding: 2vh 0vh;
    background-color: #333;
    font-size: 0.5rem;
  }

  .footerLinks {
    text-decoration: none;
    color: white;
  }

  .footer-icon::before,
  .footer-icon::after {
    display: none;
  }

  #footer-container-desktop {
    display: none;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20%;
    left: 30%;
    width: 12rem;
    height: 5rem;
    font-size: 0.7rem;
    border-radius: 10px;
    transition: 1s ease;
    color: white;
    background-color: grey;
  }
  .contact-info-hidden {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20%;
    left: 30%;
    font-size: 1rem;
    opacity: 0;
    width: 10rem;
    height: 5rem;
    border-radius: 10px;
    background-color: grey;
    transition: 1s ease;
  }
}

@media (min-width: 1800px) {
}
