#pricing-main-photo {
  background-size: contain;
  width: 100%;
  color: black;
  font-family: Indie Flower, cursive;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-pricing-pic {
  width: 33.3%;
  height: 15rem;
}

@media (max-width: 767px) {
  .main-pricing-pic {
    height: 7rem;
  }
}
