.terms-and-privacy {
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
  background-color: #333;
}

@media (max-width: 767px) {
  .terms-and-privacy {
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid blue; */
    padding: 3rem 0rem 5rem 0rem;
  }
  .terms-and-privacy-picture img {
    max-width: 19rem;
    align-self: center;
  }
}
