.terms-and-privacy {
  display: flex;
  justify-content: center;
  padding: 3rem 0rem;
}

@media (max-width: 767px) {
  .terms-and-privacy {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
  }
}
