.input-field-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: #ccc; */
  width: 90%;
  margin: 10px;
  color: #222;
  font-weight: 100;
  font-size: 1rem;
  padding: 1rem 0 2rem 0;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
}

.add-day-form {
  flex-flow: row wrap;
  height: 25%;
  font-size: 0.8rem;
  padding-top: 1.5rem;
}

.error-background {
  background-color: salmon;
}

#input-label {
  margin-bottom: 5px;
}

.input-field {
  background-color: white;
  width: 90%;
  font-size: 0.8rem;
  text-align: center;
  border-width: 1px;
  border-color: #eee;
  height: 1.7rem;
  outline: none;
}

.error-message {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: fit-content;
  background-color: salmon;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  .input-field-container {
    width: 90%;
    margin: 10px;
    color: white;
    font-size: 0.7rem;
    padding: 0rem 0rem 0.3rem 0rem;
    background-color: #777;
    padding: 0.5rem 0rem;
  }

  .input-field {
    font-size: 0.7rem;
  }

  .input-label {
    font-size: 0.7rem;
  }

  .error-message {
    font-size: 0.6rem;
    padding: 0.3rem;
    width: fit-content;
  }
}
