.main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  transition: 1.5s ease;
}

.shifted-main {
  transition: 1.5s ease;
  width: 100%;
}

.not-shifted-main {
  transition: 1.5s ease;
  width: 100%;
}

@media (max-width: 767px) {
  .main-container {
    width: 100vw;
  }
}
