.main-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  transition: 1.5s ease;
  /* background: url(../../static/BACKGROUND/55.jpg); */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-body {
  width: 100%;
}

.phone-visible {
  display: none;
}

.desktop-visbile {
  width: 100%;
}

@media (max-width: 767px) {
  .main-container {
    width: 100vw;
  }

  .phone-visible {
    display: inline-block;
  }
}
