.nav-bar {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.nav-bar-text {
  font-family: Indie Flower, cursive;
  color: white;
  position: absolute;
  left: 45%;
}

.nav-bar-icon {
  top: 30%;
  left: 1rem;
  box-sizing: border-box;
  color: white;
  margin-left: 1rem;
}

.nav-bar-menu-button {
  position: absolute;
  right: 5vh;
}

@media (max-width: 700px) {
  .nav-bar {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
  }

  .nav-bar-text {
    font-family: Indie Flower, cursive;
    color: white;
    position: absolute;
    left: 42%;
  }

  .nav-bar-icon {
    top: 30%;
    left: 1rem;
    box-sizing: border-box;
    color: white;
    margin-left: 1rem;
  }

  .nav-bar-menu-button {
    position: absolute;
    right: 0.5vw;
  }
}
