.register-login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../static/BACKGROUND/new2.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.register-login-forms {
  display: flex;
  position: relative;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 25rem;
  background-color: white;
  border-radius: 10px;
  padding: 3rem 0rem;
  border: 1px solid #222;
  opacity: 0.8;
  margin: 2rem 0rem;
}

#login-container {
  height: 100vh;
}

#register-container {
  height: fit-content;
}

.logo-forms-container {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.forms-logo {
  width: 5rem;
  height: 4rem;
}

.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
  cursor: pointer;
}
.form-title {
  color: black;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.errorMsg {
  padding: 0.7rem 0.7rem;
  color: white;
  background-color: salmon;
}

@media (max-width: 767px) {
  .register-login-container {
    padding: 0rem 2rem;
  }

  .register-login-forms {
    padding: 2rem 1rem;
  }

  .forms-logo {
    width: 3.5rem;
    height: 2.5rem;
  }

  .form-title {
    font-size: 1rem;
  }
}

@media (min-height: 1000px) {
  #register-container {
    height: 100vh;
  }
}
