body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway";
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --sobota: #fae5ca;
  --niedziela: #ffd5d5;
  --button-highlighted: #f0b17c;
  --button-highlighted-hover: #e97d25;
  scroll-padding-top: 5rem;
}

.link-button {
  text-decoration: none;
}

.termsConditionsCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Raleway";
  font-size: 2.8rem;
  margin-top: 3rem;
  font-style: italic;
  font-weight: 200;
}

@media (max-width: 767px) {
  :root {
    scroll-padding-top: 3rem;
  }

  h1 {
    font-size: 2rem;
  }
}
