.admin-lessons-container {
  width: 39.5%;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

#add-page {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 767px) {
  .admin-lessons-container {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    background-color: #333;
    margin-top: 2rem;
    padding: 0.5rem 0rem;
  }
}
