#cancel-information {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-top: 1rem;
}

#icon-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 2rem;
  background-color: crimson;
  border-radius: 50px;
  margin-right: 15px;
}

.cancel-icon {
  width: 15px;
  height: 15px;
  color: white;
}

@media (max-width: 767px) {
  #cancel-information {
    width: 80%;
    font-size: 0.7rem;
  }

  #icon-information {
    width: 3rem;
  }
}
