#user-selector-title {
  width: 25%;
  margin-left: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.user-selector {
  width: 25%;
  height: 3rem;
  background-color: #333;
  font-size: 1rem;
  color: white;
  margin-left: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  transition: 500ms ease-in;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
}

.user-selector-full {
  width: 25%;
  height: 12rem;
  background-color: #555;
  font-size: 1rem;
  color: white;
  margin-left: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: 500ms ease-in;
  cursor: pointer;
  padding: 10px;
  overflow-y: scroll;
}

:hover.user-selector {
  background-color: #555;
}

.users-list {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  transition: 500ms ease-in;
  opacity: 0;
  margin-top: 0.5rem;
  overflow: hidden;
}

.users-list-expanded {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  transition: 500ms ease-in;
  margin-top: 0.5rem;
}

.one-user-select {
  width: 100%;
  transition: 200ms ease-in;
}

:hover.one-user-select {
  background-color: skyblue;
  cursor: pointer;
  transition: 200ms ease-in;
}

@media (max-width: 700px) {
  .user-selector-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }

  #user-selector-title {
    width: 100%;
    margin-left: 0rem;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
  }

  .user-selector {
    width: 70%;
    margin-left: 0rem;
    padding: 0.9rem;
    border-radius: 20px;
  }

  .user-selector-full {
    display: flex;
    width: 70%;
    font-size: 1rem;
    margin-left: 0rem;
  }

  :hover.user-selector {
    background-color: #333;
  }

  .one-user-select {
    margin-bottom: 1rem;
  }

  :hover.one-user-select {
    background-color: #333;
  }
}
