#delete-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0rem;
  margin-bottom: 2rem;
}

#delete-button {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  color: white;
}

#delete-button:hover {
  background-color: red;
  transition: 0.3s ease;
}

@media (max-width: 767px) {
  #delete-button-container {
    padding: 0rem;
  }

  #delete-button {
    height: 2.5rem;
    font-size: 0.7rem;
  }

  #delete-button:hover {
    background-color: crimson;
  }
}
