#deletePage {
  margin-top: 2rem;
  animation: bounceIn 0.7s;
}

.delete-user-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 22rem;
  margin-top: 2rem;
  background-color: white;
  border-radius: 10px;
  padding: 2rem 2rem;
  text-align: center;
  color: black;
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

.delete-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 700px) {
  #deletePage {
    margin-top: 2rem;
    animation: bounceIn 0.7s;
  }

  .delete-user-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 22rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem 2rem;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  .delete-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
  }
}
