#delete-page {
  margin-top: 2rem;
  animation: bounce-in 0.7s;
}

.delete-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 767px) {
  #delete-page {
    position: fixed;
    left: 50%;
    margin-left: -10rem;
    top: 50%;
  }

  .delete-user-container {
    width: 20rem;
    margin-top: 0rem;
    font-size: 0.8em;
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
