.progress-bar-div {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  font-family: Roboto;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding-left: 20px;
  margin-bottom: 5px;
}

.progress-bar-table {
  border: 1px solid white;
  width: 10rem;
  border-collapse: collapse;
  cursor: pointer;
  margin-left: auto;
}

.no-pointer {
  cursor: default;
}

th {
  height: 2.6rem;
  border: 1px groove white;
}

@media (max-width: 767px) {
  .progress-bar-div {
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    font-size: 0.8em;
    padding: 0rem;
    margin-bottom: 0.8rem;
  }

  .progress-bar-table {
    width: 90%;
  }

  th {
    height: 2.2rem;
  }
}
