.users-info-main-left {
  width: 100%;
  color: #333;
  background-color: #eee;
  margin: 2rem 0 5rem 2rem;
  padding-right: 1rem;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .users-info-main-left {
    display: flex;
    align-items: center;
    flex-flow: column
  }
}
