.progress-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.progress-header {
  width: 100%;
  color: #333;
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-tables {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 1rem;
}

.progress-bar-div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  align-items: center;
}

.progress-bar-table {
  width: 10rem;
  border-collapse: collapse;
  cursor: pointer;
  /* margin-left: auto; */
}

.no-pointer {
  cursor: default;
}

td {
  height: 2.6rem;
  text-align: center;
  box-shadow: 0px 0px 5px 2px #ddd;
  border-radius: 5px;
  margin-left: 1rem;
}

@media (max-width: 1100px) {
  .progress-tables {
    width: 60%;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }
}

@media (max-width: 900px) {
  .progress-bar-div {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: space-evenly;
    height: 6rem;
    padding: 0;
  }

  .progress-header {
    padding: 1rem 0 1rem 0;
  }

  .progress-tables {
    background-color: #eee;
    border-radius: 10px;
  }
}
