.reserved-lessons-container {
  width: 100%;
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

  padding: 1rem 0rem;
}

.reserved-header {
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: Roboto;
}

@media (max-width: 767px) {
  .reserved-lessons-container {
    background-color: #333;
  }
}
